@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');

.infoHeader {
    color: #ffff;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 8vw;
}
.detailWrapper {
  background-color: #ce5281;
  padding: 0 0 30vh 0;
}

.content-container {
  background-color: #a34368;
  text-align: center;
  color: #ffff;
}

.adjuster {
    height: 30vh;
    padding-top: 30vh;
}

.cross-container {
  display: flex;
  background-color: #f36099;
  margin-top: 0;
}