@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');

:root {
  background-color: #f36099;
}

*,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  padding-bottom: 20vh;
}

.headerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2vh;
}

.loadingImage {
  width: 90px;
  display: flex;
  flex-direction: column;
  padding-left: 48vw;
  padding-top: 3vh;
}

.loading {
  width: 30vw;
}

.exchange {
  color: #ffff;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 20vw;
}

.headerCompanies {
  display: flex;
  justify-content: center;
  padding: 3vh 0 3vh 0;
  color: #ffff;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.inputName {
  border: none;
  border-radius: 4px;
  width: 50vw;
  height: 5vh;
  text-indent: 10px;
}

.inputName::placeholder {
  padding-left: 10px;
}

.stockInfoContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.companyContainer3 {
  display: flex;
}

.oneCompanyContainer {
  padding-left: 5%;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1vh;
}

.oneCompanyContainer:nth-child(4n-3) {
  background-color: #a34368;
}

.oneCompanyContainer:nth-child(4n) {
  background-color: #a34368;
}

.oneCompanyContainer:nth-child(4n-1) {
  background-color: #ce5281;
}

.oneCompanyContainer:nth-child(4n-2) {
  background-color: #ce5281;
}

.oneCompanyContainer:nth-child(4n-3):hover {
  background-color: #aa0a48;
}

.oneCompanyContainer:nth-child(4n):hover {
  background-color: #aa0a48;
}

.oneCompanyContainer:nth-child(4n-1):hover {
  background-color: #ef79a6;
}

.oneCompanyContainer:nth-child(4n-2):hover {
  background-color: #ef79a6;
}

.symbol {
  color: #fff;
  width: 60%;
  font-family: 'Roboto', sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 0;
  padding-top: 0;
}

.price {
  color: #fff;
  width: 60%;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .inputName {
    width: 20%;
    height: 4vh;
    text-indent: 10px;
  }

  .exchange {
    padding-left: 22%;
  }

  .symbol {
    width: 30%;
  }

  .price {
    width: 30%;
  }

  .left {
    width: 95%;
  }

  .right {
    width: 90%;
  }
}
